<div class="se-canvas">
  <ui-gmap-google-map center="map.center" zoom="map.zoom" dragging="map.dragging"
          bounds="map.bounds" events="map.events" options="map.options"
          pan="true" control="map.control">
    <!--to add as a map control -->
    <ui-gmap-search-box options="searchbox.options" template="searchbox.template"
            events="searchbox.events" position="searchbox.position">
    </ui-gmap-search-box>

    <ui-gmap-markers idkey="map.markerId"
            models="map.markers"
            coords="'self'" icon="'icon'">
    </ui-gmap-markers>

    <ui-gmap-circle center='map.circle.center'
                    radius='map.circle.radius'
                    fill='map.circle.fill'
                    stroke='map.circle.stroke'
                    clickable='map.circle.clickable'
                    draggable='map.circle.draggable'
                    editable='map.circle.editable'
                    visible='map.circle.visible'
                    events='map.circle.events'
                    control='map.circle.control'>
    </ui-gmap-circle>
  </ui-gmap-google-map>
</div>

<div class="container-fluid" id="main">
  <div class="row">
    <div class="col-md-4 se-column left" id="left">
      <div class="clearfix se-message">
        <i class="fa {{message.icon}}"> </i>
        <span>{{message.value}}</span>
      </div>
      <ul class="nav nav-tabs" role="tablist" id="sharpEyeTabs">
        <li role="presentation" class="active"><a href="#filter" aria-controls="filter" role="tab" data-toggle="tab" id="filterTab"><i class="fa fa-filter"></i> Filter</a></li>
        <li role="presentation"><a href="#result" aria-controls="result" role="tab" data-toggle="tab" id="resultTab"><i class="fa fa-list-ul"></i> Result</a></li>
        <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab" id="settingsTab"><i class="fa fa-cog"></i> Settings</a></li>
      </ul>

      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="filter">
          <div class="row">
            <div class="col-md-12">
              <div class="well first">
                <form class="form-horizontal">
                  <fieldset>
                    <legend>Filter</legend>
                    <div class="form-group">
                      <label for="inputSearchRadio" class="col-md-3 control-label">Searching for</label>
                      <div class="col-md-9">
                        <input type="text" class="form-control" id="inputSearchRadio" data-ion-slider
                        data-min="0" data-max="100" data-grid="true" data-grid-num="10">
                        <!--
                        Tipo de Vivienda
                        Select Multiple
                        Pisos, Duplex, Atico, Casas o Chalets, Casas Rusticas
                        -->
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="inputSearchRadio" class="col-md-3 control-label">Bedrooms</label>
                      <div class="col-md-9">
                        <input type="text" class="form-control" id="inputSearchRadio" data-ion-slider
                        data-min="0" data-max="100" data-grid="true" data-grid-num="10">
                      </div>
                      <!-- Habitaciones
                      Slider
                      Atras y adelante
                      0,1,2,3,4 -->
                    </div>
                    <div class="form-group">
                      <label for="inputSearchRadio" class="col-md-3 control-label">Bathrooms</label>
                      <div class="col-md-9">
                        <input type="text" class="form-control" id="inputSearchRadio" data-ion-slider
                        data-min="0" data-max="100" data-grid="true" data-grid-num="10">
                      </div>
                      <!-- Banos
                      Slider
                      Atras y Adelante
                      1,2,3+ -->

                    </div>
                    <div class="form-group">
                      <label for="inputSearchRadio" class="col-md-3 control-label">Size</label>
                      <div class="col-md-9">
                        <input type="text" class="form-control" id="inputSearchRadio" data-ion-slider
                        data-min="0" data-max="100" data-grid="true" data-grid-num="10">
                      </div>
                      <!-- Tamano
                      0 40, 60, 80, 100, 120, 140, 180, 200, 400, 600, 700, 800,900 infinot -->

                    </div>
                    <div class="form-group">
                      <label for="inputSearchRadio" class="col-md-3 control-label">Condition</label>
                      <div class="col-md-9">
                        <ui-select ng-model="multipleDemo.colors" theme="select2" ng-disabled="disabled" style="width: 300px;">
                          <ui-select-match placeholder="Select colors...">{{$item}}</ui-select-match>
                          <ui-select-choices repeat="color in availableColors | filter:$select.search">
                            {{color}}
                          </ui-select-choices>
                        </ui-select>
                        <p>Selected: {{multipleDemo.colors}}</p>
                        <!-- Estado
                        Select Simple
                        Indiferente
                        Para reformar
                        Buen Estado -->

                      </div>
                    </div>
                    <div class="form-group">
                      <label for="inputSearchRadio" class="col-md-3 control-label">Extras</label>
                      <div class="col-md-9">
                        <ui-select ng-model="multipleDemo.colors" theme="select2" ng-disabled="disabled" style="width: 300px;">
                          <ui-select-match placeholder="Select colors...">{{$item}}</ui-select-match>
                          <ui-select-choices repeat="color in availableColors | filter:$select.search">
                            {{color}}
                          </ui-select-choices>
                        </ui-select>
                        <p>Selected: {{multipleDemo.colors}}</p>
                      </div>
                      <!-- Caracteristicas
                      Ascensor, Garake, Piscina, Terraza, Exterior, De bancos y cajas,
                      obra nueva, trastero, aire acondicionado, armarios empotrados

                      fotos, video profesional, visita virtual. -->
                    </div>
                  </fieldset>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="result">No results :(</div>
        <div role="tabpanel" class="tab-pane" id="settings">
          <div class="row">
            <div class="col-md-12">
              <div class="well first">
                <form class="form-horizontal">
                  <fieldset>
                    <legend>Map</legend>
                    <div class="form-group">
                      <label for="inputSearchRadio" class="col-md-3 control-label">Search radio</label>
                      <div class="col-md-9">
                        <input type="text" class="form-control" id="inputSearchRadio" data-ion-slider
                        data-min="0" data-max="100" data-grid="true" data-grid-num="10">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="" class="col-md-3 control-label" >Visible radar</label>
                      <div class="col-md-9">
                        <div class="onoffswitch">
                          <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch">
                          <label class="onoffswitch-label" for="myonoffswitch">
                            <span class="onoffswitch-inner">
                              <span class="onoffswitch-active"><span class="onoffswitch-switch">ON</span></span>
                              <span class="onoffswitch-inactive"><span class="onoffswitch-switch">OFF</span></span>
                            </span>
                          </label>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-md-12">
                        <a href="#" class="btn btn-default">Default</a>
                      </div>
                    </div>
                  </fieldset>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8" id="right">
    </div>
  </div>
</div>
