<div class="se-container">
  <div class="row se-row">
    <div class="col-xs-4 se-column left" id="left">
      <div class="clearfix se-message">
        <i class="fa {{message.icon}}"> </i>
        <span>{{message.value}}</span>
      </div>
      <ul class="nav nav-tabs" role="tablist" id="sharpEyeTabs">
        <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab" id="homeTab"><i class="fa fa-cog"></i> Settings</a></li>
        <li role="presentation"><a href="#result" aria-controls="result" role="tab" data-toggle="tab" id="resultTab"><i class="fa fa-list-ul"></i> Result</a></li>
      </ul>

      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="home">
          <div class="row">
            <div class="col-md-12">
              <div class="well bs-component">
                <form class="form-horizontal">
                  <fieldset>
                    <legend>Map</legend>
                    <div class="form-group">
                      <label for="inputSearchRadio" class="col-md-3 control-label">Search radio</label>
                      <div class="col-md-9">
                        <input type="text" class="form-control" id="inputSearchRadio" data-ion-slider
                        data-min="0" data-max="100" data-grid="true" data-grid-num="10">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="" class="col-md-3 control-label" >Visible radar</label>
                      <div class="col-md-9">
                        <div class="onoffswitch">
                          <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch">
                          <label class="onoffswitch-label" for="myonoffswitch">
                            <span class="onoffswitch-inner">
                              <span class="onoffswitch-active"><span class="onoffswitch-switch">ON</span></span>
                              <span class="onoffswitch-inactive"><span class="onoffswitch-switch">OFF</span></span>
                            </span>
                          </label>
                        </div>
                      </div>
                    </div>
                  </fieldset>
                </form>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="well">
                <form class="form-horizontal">
                  <fieldset>
                    <legend>Filter</legend>
                    <div class="form-group">
                      <label for="inputSearchRadio" class="col-md-3 control-label">House Type</label>
                      <div class="col-md-9">
                        <ui-select multiple ng-model="multipleDemo.colors" theme="select2" ng-disabled="disabled" style="width: 300px;">
                          <ui-select-match placeholder="Select colors...">{{$item}}</ui-select-match>
                          <ui-select-choices repeat="color in availableColors | filter:$select.search">
                            {{color}}
                          </ui-select-choices>
                        </ui-select>
                        <p>Selected: {{multipleDemo.colors}}</p>
                      </div>
                    </div>

                  </fieldset>
                </form>
              </div>
            </div>
          </div>

          <div>
            Latitude: {{map.center.latitude}} <br />
            Longitude: {{map.center.longitude}} <br />
            Zoom: {{map.zoom}}<br />
            <br />
            Search Box : {{searchbox.term}}<br />



          </div>





        </div>
        <div role="tabpanel" class="tab-pane" id="result">No results :(</div>
      </div>
    </div>
    <div class="col-xs-8 se-column right">
      <ui-gmap-google-map center="map.center" zoom="map.zoom" dragging="map.dragging"
              bounds="map.bounds" events="map.events" options="map.options"
              pan="true" control="map.control">
        <!--to add as a map control -->
        <ui-gmap-search-box options="searchbox.options" template="searchbox.template"
                events="searchbox.events" position="searchbox.position">
        </ui-gmap-search-box>

        <ui-gmap-markers idkey="map.markerId"
                models="map.markers"
                coords="'self'" icon="'icon'">
        </ui-gmap-markers>

        <ui-gmap-circle center='map.circle.center'
                        radius='map.circle.radius'
                        fill='map.circle.fill'
                        stroke='map.circle.stroke'
                        clickable='map.circle.clickable'
                        draggable='map.circle.draggable'
                        editable='map.circle.editable'
                        visible='map.circle.visible'
                        events='map.circle.events'>
        </ui-gmap-circle>
      </ui-gmap-google-map>
    </div>
  </div>
</div>
